# Ignore all directories, and all sub-directories, and it's contents:
*/*

# ignore all files in the current directory 
*.*

# Only Include these specific directories and subdirectories and files:
!.gitignore
!ModulexDAL/ModulexDAL.csproj
!ModulexDAL/clsProductHandbookInfoDAL.cs
!ModulexEAL/ModulexEAL.csproj
!ModulexEAL/clsProductHandbookInfoEAL.cs

# Reinclude folders:
!ModulexWeb/Dealer/
!ModulexWeb/_Test/
!ModulexWeb/App_GlobalResources/

# Ignore everything in:
ModulexWeb/Dealer/*
ModulexWeb/App_GlobalResources/*

# Reinclude files:
!ModulexWeb/Dealer/ProductHandbookInfo.aspx
!ModulexWeb/Dealer/ProductHandbookInfo.aspx.cs
!ModulexWeb/App_GlobalResources/General.resx
!ModulexWeb/_Test/*